<h3><%= t('view.staff') + t('view.index') %></h3>

<%= search_form_for @q, url: search_staffs_path do |f| %>
  <%= f.label :name_cont, t('view.name') %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit 'search' %>
<% end %>

<%= link_to t('view.new') + t('view.staff'), new_staff_registration_path %>

<table class="d-flex flex-column justify-content-center patient_table_wrapper container">
  <thead>
    <tr class="row mt-1">
      <th class="col-4 patient_col col_top"><%= t('view.name') %></th>
      <th class="col-4 patient_col col_top"><%= t('view.admin') %></th>
    </tr>
  </thead>
  <hr>
  <tbody>
    <% if @results.present? %>
      <% @results.each do |staff| %>
        <%= render partial: 'index', locals: { staff: staff } %>
      <% end %>
    <% else %>
      <% @staffs.each do |staff| %>
        <%= render partial: 'index', locals: { staff: staff } %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @staffs %>