<%= form_with(model: @master, local: true) do |f| %>

  <div class="field">
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: t('view.placeholder.password'),size: 24 %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('view.placeholder.password_confirmation'), size: 24 %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit id: "submit" %>
  </div>
<% end %>
