  <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name), local: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.email_field :name, autofocus: true, autocomplete: "name", size: 16 %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.check_box :admin, {}, "true", "false" %>
    <%= f.label t('view.admin') %><br />
  </div>
  <br>

  <div class="actions">
    <%= f.submit id: "submit" %>
  </div>
<% end %>
