<h2><%= t('.sign_in') %></h2>

<%= form_with(model: resource, scope: resource_name, url: session_path(resource_name), local: true) do |f| %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.email_field :name, autofocus: true, autocomplete: "name" ,size: 24 %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" ,size: 24 %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit t('.sign_in'), { id: "submit" } %>
  </div>
<% end %>