<h2><%= t('view.notification.bill_mail') %></h2>

<p><%= health_interview(@id).hospital.name %></p>
<p><%= @id %></p>

<p><%= t('views.messages.bill') %></p>

<p>¥<%= @price %></p>

"_/_/_/ MPass _/_/_/"