<div class="mb-4">
  <h3><%= t('view.patient') + t('view.index') %></h3>
</div>

<%= search_form_for @q, url: patients_path do |f| %>
  <%= f.label :name_cont, t('view.name') %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit t('view.search') %>
<% end %>

<table class="d-flex flex-column justify-content-center patient_table_wrapper container">
  <thead>
    <tr class="row mt-1">
      <th class="col-4 patient_col col_top"><%= t('view.name') %></th>
      <th class="col-4 patient_col col_top"><%= t('view.size') %></th>
    </tr>
  </thead>
  <hr>
  <tbody>
    <% @patients.each do |patient| %>
      <tr class="row mt-2">
        <th class="col-4 patient_col">
          <%= link_to patient.name, hospital_health_interview_path(@hospital, patient.health_interviews.last.id), id: "patient-#{patient.id}-healthinterviews-history" %>
        </th>
        <th class="col-4 patient_col">
          <%= patient.health_interviews.size %>
        </th>
        <th class="col-4 patient_col">
          <%= link_to t('view.destroy'), patient, method: :delete, data: { confirm: t('confirm.delete') } %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @patients %>