
<div class="mb-4">
  <h3><%= t('view.patient') + t('view.index') %></h3>
</div>

<div class="d-flex flex-column justify-content-center patient_table_wrapper container">
  <tr class="row mt-1">
    <th class="col-4 patient_col col_top"><%= t('view.name') %></th>
    <th class="col-4 patient_col col_top"><%= t('view.count') %></th>
  </tr>
  <% @patients.each do |patient| %>
    <% if patient.health_interviews.present? %>
      <tr class="row mt-2">
        <th class="col-4 patient_col">
          <%= link_to patient.name, hospital_health_interview_path(patient.health_interviews.last.id) %>
        </th>
        <th class="col-4 patient_col">
          <%= patient.health_interviews.size %>
        </th>
        <th class="col-4 patient_col">
          <%= link_to t('view.destroy'), patient, method: :delete, data: { confirm: t('confirm.delete') } %>
        </th>
      </tr>
    <% end %>
  <% end %>
</div>
<%= paginate @patients %>