<div class="d-flex flex-row">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <li><big><i><%= link_to 'MPass', root_path, id: "global-navi_top" %></i></big></li>
    </div>
    <div class="p-2 bd-highlight">
      <li><%= link_to t('view.hospital') + t('view.index'), hospitals_path, id: "global-navi_hospital-index" %></li>
    </div>
  </div>
  <% if patient_signed_in? || staff_signed_in? %>
    <% if patient_signed_in? %>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <li><%= link_to t('view.my_page'), patient_path(current_patient.id), id: "global-navi_patient-show" %></li>
        </div>
      </div>
      <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <li><%= link_to t('view.favorite'), favorite_hospitals_path, id: "global-navi_favorite-index" %></li>
        </div>
      </div>
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <li><%= link_to t('view.sign_out'), destroy_patient_session_path, method: :delete, id: "global-navi_sign-out" %></li>
        </div>
      </div>
    <% else %>
      <div class="p-2 bd-highlight">
        <li><%= link_to t('view.waiting'), hospital_health_interviews_path(@hospital.id), id: "global-navi_in-house-healthinterview-index" %></li>
      </div>
      <% if current_staff.admin? %>
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <li><%= link_to t('view.patient') + t('view.index'), patients_path, id: "global-navi_in-house-patient-index"  %></li>
          </div>
          <div class="p-2 bd-highlight">
            <li><%= link_to t('view.staff') + t('view.index'), staffs_path, id: "global-navi_in-house-staff-index" %></li>
          </div>
        </div>
      <% end %>
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="p-2 bd-highlight">
            <li><%= link_to t('view.sign_out'), destroy_staff_session_path, method: :delete, id: "global-navi_staff-sign-out" %></li>
          </div>
        </div>
    <% end %>
  <% elsif master_signed_in? %>
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <li><%= link_to t('view.hospital_label') + t('view.index'), hospital_labels_path, id: "global-navi_hospitallabel-index" %></li>
      </div>
      <div class="p-2 bd-highlight">
        <li><%= link_to t('view.sign_out'), destroy_staff_session_path, method: :delete, id: "global-navi_staff-sign-out" %></li>
      </div>
    </div>
  <% else %>
    <div class="d-flex flex-row-reverse bd-highlight">
      <div class="p-2 bd-highlight">
        <li><%= link_to t("view.sign_in"), new_patient_session_path, id: "global-navi_sign-in" %></li>
      </div>
      <div class="p-2 bd-highlight">
        <li><%= link_to t("view.sign_up"), new_patient_registration_path, id: "global-navi_sign-up" %></li>
      </div>
    </div>
  <% end %>
</div>